<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voice on Time</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
    <style>
        .progress::after {
            content: " ";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: #c6f6d5;
        }

        .progress-0::after {
            width: 0%
        }

        .progress-1::after {
            width: 10%
        }

        .progress-2::after {
            width: 20%
        }

        .progress-3::after {
            width: 30%
        }

        .progress-4::after {
            width: 40%
        }

        .progress-5::after {
            width: 50%
        }

        .progress-6::after {
            width: 60%
        }

        .progress-7::after {
            width: 70%
        }

        .progress-8::after {
            width: 80%
        }

        .progress-9::after {
            width: 90%
        }

        .progress-10::after {
            width: 100%
        }
    </style>
</head>

<body>
    <div id="app" class="">
        <div v-show="!countdown" class="p-5 max-w-screen-md m-auto">
            <div class="container mb-2">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-1 px-3 rounded"
                    @click="doTheThing">Do
                    the thing</button>
                <div class="text-sm text-gray-800 float-right">
                    <a href="https://github.com/bacanu/voice-on-time" class="p-1 text-blue-700 hover:text-blue-900">Source on Github</a>
                    <a href="#howto" class="p-1 text-blue-700 hover:text-blue-900">How to use</a>
                    <span class="p-1">Your edits are auto-saved.</span>
                </div>
            </div>
            <div class="container flex flex-row relative">
                <div class="whitespace-pre-line flex-1 px-3 p-1">{{ script + "a" }}</div>
                <textarea v-model="script"
                    class="w-full h-full absolute top-0 left-0 px-3 p-1 rounded bg-green-100 shadow"></textarea>
            </div>
            <div class="my-3" id="howto">
                <strong>How to use:</strong><br>
                Each line is a command. <br>
                Each line is executed in order. <br>
                Start a line with <strong>Say</strong> and the british robot lady will read it. <br>
                Start a line with <strong>Wait</strong> and a timer for x seconds will be shown. <br>
                Start a line with <strong>Beep</strong> and a short beep is played. <br>
                Start a line with <strong>Beeep</strong> and a longer beep is played. <br>
                The "script" you write is auto-saved locally, on your browser. <br>
                Start the "script" by hitting the "Do the thing" button. <br>
                Reload the page to reset the countdown once started. <br>
                For bugs, feature requests and feedback, create a new issue at: <a
                    class="text-blue-700 hover:text-blue-900"
                    href="https://github.com/bacanu/voice-on-time/issues">https://github.com/bacanu/voice-on-time/issues</a>

            </div>

            <div class="links my-10">
                <a class="py-1 text-sm text-blue-700 hover:text-red-700" href="#" @click.prevent="reloadCchw">Reload the
                    initial workout (overwrites your changes)</a>
                <a class="p-1 text-sm text-blue-700 hover:text-blue-900"
                    href="https://www.reddit.com/r/bodyweightfitness/comments/fjyhyo/coronavirus_curfew_home_workout_12_min_session_no/">Source
                    of the workout on reddit</a>
            </div>
        </div>
        <div v-show="countdown" class="progress" v-bind:class="{
            'progress-0': (computedElapsed == 0 ),
            'progress-1': (computedElapsed == 1 ),
            'progress-2': (computedElapsed == 2 ),
            'progress-3': (computedElapsed == 3 ),
            'progress-4': (computedElapsed == 4 ),
            'progress-5': (computedElapsed == 5 ),
            'progress-6': (computedElapsed == 6 ),
            'progress-7': (computedElapsed == 7 ),
            'progress-8': (computedElapsed == 8 ),
            'progress-9': (computedElapsed == 9 ),
            'progress-10': (computedElapsed == 10 )
        }">

            <div v-if="countdown" class="container max-w-screen-md m-auto text-3xl text-center p-6">
                <div v-if="countdown.type == 'voice'">
                    {{ countdown.value }}
                </div>
                <div v-if="countdown.type == 'time'">
                    {{ countdown.value - countdown.elapsed }}s left.
                </div>
                <div v-if="countdown.type == 'shortbeep'">
                    beep
                </div>
                <div v-if="countdown.type == 'longbeep'">
                    BEEEP
                </div>
            </div>
            <video loop="loop" id="video" class="m-auto" style="opacity: 0;">
                <source src="video.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"
        integrity="sha256-VeNaFBVDhoX3H+gJ37DpT/nTuZTdjYro9yBruHjVmoQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script>
        var voice = null
        window.speechSynthesis.onvoiceschanged = () => {
            voice = window.speechSynthesis.getVoices().find((v) => v.name == "Google UK English Female");
        }

        function saveLocally(text) {
            localStorage.setItem("text", text);
        }

        var cchw = `Say Push Ups --- 1 minute then 1 minute rest. Start at the beep.
Wait 5 seconds
Beep
Wait 60 seconds
Say Rest for 1 minute

Wait 50 seconds
Say Get ready for "Double leg squat jumps" in 10 seconds. Wait for the beep.
Wait 10 seconds
Beep
Wait 60 seconds
Say Rest for 1 minute

Wait 50 seconds
Say Get ready for "Push-through crunches" in 10 seconds. Wait for the beep.
Wait 10 seconds
Beep
Wait 60 seconds
Say Rest for 1 minute

Wait 50 seconds
Say Get ready to "Plank" in 10 seconds. Wait for the beep.
Wait 10 seconds
Beep
Wait 60 seconds
Say Rest for 1 minute

Wait 50 seconds
Say Get ready for "Bicycle Crunches" in 10 seconds. Wait for the beep.
Wait 10 seconds
Beep
Wait 60 seconds
Say Rest for 1 minute

Wait 50 seconds
Say Almost done. Get ready for another round of "Push ups". Wait for the beep.
Wait 10 seconds
Beep
Wait 60 seconds
Beep
Beep
Beep
Say We are beeping done. Congratulations, you can go back to reddit now.`

        function getFromLocal() {
            var s = localStorage.getItem("text")

            if (s) {
                return s;
            } else {
                return cchw;
            }
        }

        function scriptToItems(script) {
            var lines = _.split(script, /\r?\n/);

            var items = [];

            lines.forEach((line) => {
                var line = _.trim(line).toLowerCase();

                if (_.startsWith(line, "say")) {
                    var text = line.substring(4).trim();

                    items.push({ type: "voice", value: text })
                }

                if (_.startsWith(line, "wait ")) {
                    var value = parseInt(line.match(/([0-9]+)/gi)[0])

                    items.push({ type: "time", value: value, elapsed: 0 })
                }
                if (_.startsWith(line, "beep")) {
                    items.push({ type: "shortbeep" })
                }
                if (_.startsWith(line, "beee")) {
                    items.push({ type: "longbeep" })
                }
            })

            return items;
        }

        var app = new Vue({
            el: "#app",
            data: {
                script: "",
                countdown: null,
            },
            computed: {
                computedElapsed() {
                    var that = this;

                    if (!this.countdown || !this.countdown.elapsed) {
                        return 0;
                    }

                    return Math.floor((this.countdown.elapsed / this.countdown.value) * 10);
                }
            },
            methods: {
                reloadCchw() {
                    this.script = cchw;
                },
                doTheThing() {
                    var video = document.querySelector("#video");

                    var that = this;
                    var items = scriptToItems(this.script);

                    function chain(promise, remaining) {
                        if (remaining.length == 0) {
                            promise(() => {
                                that.countdown = null;
                                video.pause()
                            });
                            return;
                        }

                        var p = _.head(remaining)
                        var remaining = _.tail(remaining)

                        promise(() => { chain(p, remaining) })
                    }

                    var promises = items.map((item) => {
                        return function (cb) {
                            that.countdown = item;
                            if (video) {
                                video.play();
                            }

                            if (item.type == "voice") {
                                return new Promise((resolve, reject) => {
                                    var msg = new SpeechSynthesisUtterance(item.value);
                                    msg.voice = voice;
                                    msg.pitch = 1; //0 to 2
                                    msg.onend = (() => { resolve() })
                                    msg.onerror = (() => { reject() })
                                    window.speechSynthesis.speak(msg);
                                }).then(cb)
                            }
                            if (item.type == "time") {
                                return new Promise((resolve, reject) => {
                                    item.elapsed = 0;
                                    var t = setInterval(() => {
                                        item.elapsed += 1
                                    }, 1000)

                                    window.setTimeout(() => {
                                        resolve()
                                        item.elapsed = 0;
                                        clearInterval(t);
                                    }, item.value * 1000)
                                }).then(cb)
                            }
                            if (item.type == "shortbeep") {
                                return new Promise((resolve, reject) => {
                                    var msg = new SpeechSynthesisUtterance("beep");
                                    msg.voice = voice
                                    msg.volume = 1; // 0 to 1
                                    msg.rate = 1; // 0.1 to 10
                                    msg.pitch = 1; //0 to 2
                                    msg.onend = (() => { resolve() })
                                    msg.onerror = (() => { reject() })
                                    window.speechSynthesis.speak(msg);
                                }).then(cb)
                            }
                            if (item.type == "longbeep") {
                                return new Promise((resolve, reject) => {
                                    var msg = new SpeechSynthesisUtterance("beep");
                                    msg.voice = voice
                                    msg.volume = 1; // 0 to 1
                                    msg.rate = 0.1; // 0.1 to 10
                                    msg.pitch = 1; //0 to 2
                                    msg.onend = (() => { resolve() })
                                    msg.onerror = (() => { reject() })
                                    window.speechSynthesis.speak(msg);
                                }).then(cb)
                            }
                        }
                    })

                    var initial = _.head(promises)
                    var remaining = _.tail(promises)

                    chain(initial, remaining);
                }
            },
            created() {
                this.script = getFromLocal()
            },
            updated() {
                saveLocally(this.script);
            }
        });
    </script>
</body>

</html>